<%- include('partials/header'); -%>


<style>

        #mainBodyContainer {
                background-color: rgb(245, 245, 245);
                border-radius: 10px;
                padding: 10px;
        }

        .dark #mainBodyContainer {
                background-color: #444444;
                color: #CCCCCC;
                /* border: 1px solid black; */
        }

        h4 {
                text-decoration: underline;
        }

</style>


<div class="container myContainer" id="mainBodyContainer" style="margin-bottom: 100px">

        <img class="img-rounded pull-right" style="max-height: 400px; max-width: 400px" src="pictures/logo-min.webp">

        <h2><strong><u>Quest</u></strong></h2>
        <h4>1. Цель игры:</h4>
        <ul>
                <li><strong>Для синих:</strong> Сходить в 3 успешных(синих) похода. После этого (без обсуждений) начинается фаза Охоты.</li>
                <li><strong>Для красных:</strong> Провалить 3 похода и успешно завершить фазу Последенго Квеста.</li>
        </ul>

        <h4>2. Роли:</h4>
        <p>2.1 Синие роли:</p>
        <ul>
                <li><strong>Servant</strong> – не имеет особых умений</li>
                <li><strong>Cleric</strong> – знает цвет первой короны</li>
                <li><strong>Youth (Юноша)</strong> – обязан фейлить, если получил Magic token</li>
                <li><strong>Troublemaker</strong> – обязан лгать о своем цвете</li>
                <li><strong>Duke (Герцог)</strong> – может опустить одну из своих рук на фазе последнего шанса</li>
                <li><strong>Archduke (Архигерцог)</strong> – может перенаправить любую руку на фазе Последнего шанса</li>
                <li><strong>Apprentice (Ученик)</strong> – поднимает только одну руку. После вскрытия красных может поднять еще одну</li>
                <li><strong>Arthur</strong> – знает Моргану. Красные сразу побеждают, если Blind Hunter угадает Артура на Охоте</li>
        </ul>

        <p>2.2 Красные роли:</p>
        <ul>
                <li><strong>Minion</strong> – не имеет особых умений</li>
                <li><strong>MorganLeFay</strong> – может фейлить под действие Magic token</li>
                <li><strong>Blind Hunter</strong> – не знает красных, красные не знают его. Может активировать Охоту на фазе Последнего Квеста</li>
                <li><strong>Scion</strong> – не знает красных, видим только для MorganLeFay</li>
                <li><strong>Lunatic</strong> – обязан фейлить, если может</li>
                <li><strong>Changeling</strong> – не знает красных, красные не знают его</li>
                <li><strong>Brute</strong> – может фейлить только на первых трех походах</li>
                <li><strong>Mutineer</strong> –  не знает красных, может присоединиться к синим на фазе Последнего шанса</li>
                <li><strong>Revealer</strong> – вскрывает свою роль после трех фейлов</li>
                <li><strong>Trickster</strong> – может лгать о своем цвете</li>
        </ul>
        <p>Примечание №1: Красные видят друг друга, если в роли не указано обратное.</p>
        <p>Примечание №2: Если Mutineer поднимает 2 руки во время фазы последнего Шанса и указывает на двух синих игроков, то он присоединяется к команде Синих. В этом случае синие игроки все еще обязаны указать на Mutineer’a, чтобы победить.</p>

        <h4>3. Геймплей:</h4>
        <p>3.1 ФАЗА ПИКА ПОХОДА:</p>
        <ol>
                <li>Круг речей</li>
                <li>Текущая корона собирает поход на указанное кол-во человек</li>
                <li>Текущая корона выбирает кому дать Magic token (из тех, кто участвует в походе)</li>
        </ol>
        <ul>
                <li>Magic token: Запрещает выбранному игроку фейлить (не работает с Morgan, Youth)</li>
        </ul>

        <p>3.2 ФАЗА ПОХОДА:</p>
        <ol>
                <li>Каждый участник похода голосует за успех или провал(фейл)
                        <ul>
                                <li>Если в походе один (два если указанно) фейла — поход провален, иначе успешен</li>
                        </ul>
                </li>
        </ol>
        <ul>
                <li>При третьем успешном походе начинается фаза Охоты без каких-либо обсуждений</li>
                <li>При третьем проваленном походе начинается фаза Последнего квеста</li>
        </ul>

        <p>3.3 ФАЗА СМЕНЫ КОРОНЫ:</p>
        <ol>
                <li>Текущая корона выбирает кто будет следующей короной:
                        <ul>
                                <li>Не может выбрать игрока, у которого уже была корона</li>
                                <li>Не может выбрать игрока с амулетом</li>
                        </ul>
                </li>
                <li>Если это был поход с амулетом, то текущая корона так же выбирает кому передать амулет:
                        <ul>
                                <li>Не может выбрать игрока, у которого уже была корона</li>
                                <li>Не может выбрать игрока с амулетом</li>
                                <li>Не может выбрать игрока, которому только что передал корону</li>
                        </ul>
                </li>
                <li>Игрок с амулетом <u>может</u> проверить другого игрока:
                        <ul>
                                <li>Не может выбрать игрока с амулетом</li>
                                <li>Не может выбрать игрока, которого уже проверяли</li>
                        </ul>
                </li>
        </ol>

        <h4>4. Конец игры:</h4>
        <p>4.1 ПОСЛЕДНИЙ КВЕСТ:</p>
        <ul>
                <li>Наступает после трех красных походов</li>
                <li>Если короны были только у красных игроков, то игра сразу заканчивается победой синей команды</li>
        </ul>
        <br/>
        <ol>
                <li>Круг речей</li>
                <li>Blind Hunter решает: хочет ли он начать фазу Охоты
                        <ul>
                                <li>Если Blind Hunter готов, начинается фаза Охоты</li>
                                <li>Если Blind Hunter отказывается, начинается фаза Последнего шанса синих</li>
                        </ul>
                </li>
        </ol>
        <p>4.2 ОХОТА:</p>
        <ul>
                <li>Blind Hunter должен выбрать двух игроков и назвать их роли</li>
                <li>Запрещаются любые обсуждения во время фазы Охоты</li>
                <li>Данная фаза сразу же начинается, если было получено три успешных похода</li>
        </ul>

        <br/>

        <ol>
                <li>Первым игроком Blind Hunter должен выбрать Cleric’a.</li>
                <li>Вторым игроком Blind Hunter может выбрать серванта или Troublemaker, или Youth.
                        <ul>
                                <li>Duke, Archduke, Apprentice – считаются сервантами.</li>
                        </ul>
                </li>
                <li>Если в игре есть Arthur, то угадывая его первым Blind Hunter сразу побеждает.</li>
        </ol>

        <br/>

        <ul>
                <li>Если Blind Hunter правильно назвал двух игроков по роли, то красные побеждают</li>
                <li>Если Blind Hunter правильно назвал Артура, то красные побеждают</li>
                <li>Если Blind Hunter ошибся хотя бы в одном игроке, то побеждают синие</li>
        </ul>

        <p>4.3 ПОСЛЕДНИЙ ШАНС:</p>
        <ul>
                <li>Все синие игроки должны суммарно указать на всех красных игроков</li>
                <li>Запрещаются любые обсуждения во время фазы Последнего шанса</li>
        </ul>

        <br/>

        <ol>
                <li>Все синие одновременно указывают на двух игроков (если в роли не указано иначе)
                        <ul>
                                <li>Роль Mutineer может поднять руки, если хочет присоединиться к команде синих</li>
                        </ul>
                </li>
                <li>Красные вскрываются (включая Mutineer)</li>
                <li>Duke, Archduke, Apprentice могут использовать свои способности</li>
        </ol>

        <br/>

        <ul>
                <li>Если синие игроки указали суммарно на всех красных, то синие победили</li>
                <li>Если хотя бы один синий указывает на другого синего, то красные победили</li>
                <li>Если синие игроки указали суммарно не на всех красных, то красные победили</li>
        </ul>
</div>


<%- include('partials/footer'); -%>
